<div class="container form-recipes">
  <div class="col-4 col-md-5 mx-auto">
    <div class="post-heading">
      <h1><%= title %> Recipe</h1>
    </div>
    <%= form_with model: @recipe, local: true  do |f| %>
      <div class="form-group">
        <%= f.label :name, class:"label"%>
        <%= f.text_field :name, class:"form-control" %>
          <% @recipe.errors.full_messages_for(:name).each do |msg| if @recipe.errors.any? %>
            <small class="form-text text-danger"><%= msg %> </small>
          <% end %>
          <% end %>
      </div>
      <div class="form-group">
        <%= f.label :image, class:"label" %>
        <%= f.file_field :image, class:"form-control-file" %>
          <% @recipe.errors.full_messages_for(:image).each do |msg| if @recipe.errors.any? %>
            <small class="form-text text-danger"><%= msg %> </small>
          <% end %>
          <% end %>
      </div>
      <div class="form-group">
        <%= f.label :description, class:"label"%>
        <%= f.text_area :description, class:"form-control" %>
          <% @recipe.errors.full_messages_for(:description).each do |msg| if @recipe.errors.any? %>
            <small class="form-text text-danger"><%= msg %> </small>
          <% end %>
          <% end %>
      </div>
      <p>Preparations order:</p>
      <%= f.fields_for :instructions do |instruction| %>
        <%= instruction.text_field :name %>
        <%= instruction.check_box :_destroy %> Delete
      <% end %>
      <p>Ingredients:</p>
      <%= f.fields_for :ingredients do |ingredient| %>
        <%= ingredient.text_field :name %>
        <%= ingredient.check_box :_destroy %> Delete
      <% end %>
      <div class="form-group">
        <%= f.submit submit, class:"btn btn-primary btn-block" %>
        <%= link_to 'Cancel', root_path, class:"btn btn-danger btn-block" %>
      </div>
    <% end %>
  </div>
</div>
