
<div class="container form-recipes">
  <div class="row">
    <div class="col-4 col-md-5 mx-auto">
      <div class="post-heading">
        <h1><%= title %> Recipe</h1>
        <%= form_with model: @recipe do |f| %>
          <div class="form-group">
            <%= f.label :name, class:"label"%>
            <%= f.text_field :name, class:"form-control" %>
          </div>
          <div class="form-group">
          <%= f.label :image, class:"label" %>
          <%= f.file_field :image, class:"form-control-file" %>
          </div>
          <%= f.fields_for :instructions do |instructions| %>
            <div class="form-group">
              <%= instructions.label :instructions, class:"label"%>
              <%= instructions.text_area :name, class:"form-control" %>
            <% end %>
          </div>
          <%= f.fields_for :ingredients do |ingredients| %>
            <div class="form-group">
              <%= ingredients.label :ingredients, class:"label" %>
              <%= ingredients.text_field :name %>
              <%= ingredients.check_box :_destroy %> Delete
            </div>
          <% end %>
          <%= f.submit submit, class:"btn btn-primary" %>
          <%= link_to 'Cancel', root_path, class:"btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
